body {
    margin: 0;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 35px;
    padding: 40px 0;
}

.step {
    display: flex;
    height: 90vh;
    border: 2px solid #e2e2e2;
    border-radius: 20px;
}