body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #272727;
    font-size: 1.2em;
}

button {
	background: #bfbfbf;
	color: #004982;
	border: 1px solid #383838;
    border-radius: 12px;
	padding: 10px 20px;
    margin-bottom: 20px;
	font-weight: bold;
	cursor: pointer;
	outline: 0;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 35px;
    padding: 40px 0;
}

.step {
    display: flex;
    height: 600px;
    padding: 20px;
    border: 2px solid #5b5b5b;
    border-radius: 20px;
    background: #22537a;
    color: #fff;
    font-weight: bold;
}

.passo {
    margin-bottom: 30px;
}
